# REQUIRED CONFIG
BOT_TOKEN = "5123183109:AAH5_mUHeS5PGn3Ni_VMoVf4fRW8Y0WOTG0"
GDRIVE_FOLDER_ID = "1ERMEv3M9M072DPVOIoxA45YQZCf_2POB"
OWNER_ID =2113726835
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 10
AUTO_DELETE_MESSAGE_DURATION = 20
AUTO_DELETE = 3000
IS_TEAM_DRIVE = "True"
TELEGRAM_API =12411512
TELEGRAM_HASH = "0417d4f5fa67431b3c1b984a712cdbe3"
# OPTIONAL CONFIG
DATABASE_URL = ""
AUTHORIZED_CHATS = "-1001792133453 -1001562755933"  # Split by space
SUDO_USERS = "1936849654"
LOG_CHANNEL =-1001730953393
LOG_CHANNEL_LINK1 = "https://t.me/+C29hzgP2Ol81MzJk"
LOG_CHANNEL_LINK2 = "https://t.me/+QhuyrWX3Wcg0NjI0"  
LOG_CHANNEL_LOGGER =-1001730953393
LOG_LEECH =-1001758726487
BOT_NO = "1"
BOT_PM = "True"
APPDRIVE_EMAIL = "cheranadhi5g@gmail.com"
APPDRIVE_PASS = "12345kristy@kristy"
TIMEZONE = Asia/Kolkata
IGNORE_PENDING_REQUESTS = "True"
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://kristycloud.tk/0:/Kristys%20Mir%20Uploads/"
STATUS_LIMIT = "4"
STOP_DUPLICATE = "True"
UPTOBOX_TOKEN = ""
# Update
UPSTREAM_REPO = "https://github.com/Im-Kristy2/KristyCloud-V1"
# Leech
TG_SPLIT_SIZE = ""
AS_DOCUMENT = "True"
EQUAL_SPLITS = ""
CUSTOM_FILENAME = ""
# qBittorrent
BASE_URL_OF_BOT = ""
IS_VPS = ""
SERVER_PORT = ""
WEB_PINCODE = ""-
QB_SEED = ""
# Rss
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
USER_STRING_SESSION = ""
# Pivate Files
ACCOUNTS_ZIP_URL = ""
TOKEN_PICKLE_URL = ""
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Mega
MEGA_API_KEY = "mV8nSKDL"
MEGA_EMAIL_ID = "kristykris236@gmail.com"
MEGA_PASSWORD = "12345kristy@kristy"
BLOCK_MEGA_FOLDER = "True"
BLOCK_MEGA_LINKS = "False"
# Shortener
SHORTENER = ""
SHORTENER_API = ""
# GDTOT COOKIES
CRYPT=WjFlQnJudjNaZW5WR2l6MVJmOXUzWVI0WWV4b1VpWHB2eHhrbEpLTnNmND0%3D;
PHPSESSID=ajud2vtfq7ljd7f71lodchatli; _gid=GA1.2.1080372606.1638629992; _gat_gtag_UA_130203604_4=1"}
# Size Limits
TORRENT_DIRECT_LIMIT = ""
ZIP_UNZIP_LIMIT = ""
CLONE_LIMIT = ""
MEGA_LIMIT = ""
HEROKU_APP_NAME = ""
HEROKU_API_KEY = ""
CHANNEL_USERNAME = "KristyCloud"
TITLE_NAME = "KC-MirBot"
GD_INFO = "Uploaded by KC-MirBot"
# Buttons
VIEW_LINK = "True"
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
BUTTON_SIX_NAME = ""
BUTTON_SIX_URL = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
IMAGE_URL = "https://telegra.ph/file/57e43b3f134982f81a90e.jpg"
